* {
    margin: 0;
}

:root{
   --animate-time: 5s;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: gray;
}

header{
    background:  linear-gradient(
        45deg,
        lavender,
        blanchedalmond
    );
    max-height: 10vh;
    padding: 10px;
}

#circle-section{
    display: flex;
    justify-content: center;
    padding: 5%;
    padding-block: 10%;
    position: relative;
    margin-bottom: 100px;
}

#circle-section::after{
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background: linear-gradient(
        45deg,
        blue,
        steelblue,
        skyblue
    );
    height: 100%;
    z-index: -1;
    transform: skew(0, -3deg);
}

#circle-section .container{
    width: 80%;
    border-radius: 20px;
}

.conteudo{
    position: relative;
    padding: 2%;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(180, 28, 117);
    color: transparent;
    clip-path: circle(30px at 30% 30%);
    transition: ease-in-out 500ms;
}

.conteudo:hover{
    clip-path: circle(75%);
    background: linear-gradient(
        -45deg,
        red,
        purple,
        slateblue
    );
    color: white;
}

#colors{
    margin: 30px 0;
    width: 100vw;
    height: 50vh;
    min-height: 280px;
    background: linear-gradient(
        -45deg,
        slateblue,
        steelblue
    );
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

#colors img{
    width: 480px;
    height: 276px;
}

.foreground-image{
    --time: var(--animate-time);
    clip-path: circle(20px at 50% -10%);
    transition-delay: var(--time);
}

#colors .container{
    z-index: 2;
    position: absolute;
    width: 480px;
    height: 276px;
    margin-bottom: 4px;
}

@keyframes color-image {
    from{
        clip-path: circle(20px at 50% -10%);
    }
    20%{
        clip-path: circle(20px at 40% 25%);
    }
    40%{
        clip-path: circle(20px at 60% 55%);
    }
    60%{
        clip-path: circle(20px at 40% 85%);
    }
    80%{
        clip-path: circle(20px at 50% 90%);
    }
    to{
        clip-path: circle(90% at 50% 90%);
    }
}

#colors .container:hover{
    --time: var(--animate-time);
    .foreground-image{
        animation: color-image var(--time) linear;
        clip-path: none;
    }
}

#image-section{
    height: 60vh;
    background: linear-gradient(
        45deg,
        gray,
        blanchedalmond
    );
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: hidden;
}

#image-section img{
    translate: -26%;
    rotate: 50deg;
    height: 60vh;
    max-width: 1000%;
    scale: 1.8;
    grid-column: 1;
}

#image-section .imagem{
    height: inherit;
    width: inherit;
    clip-path: circle(75% at 4vw);
    overflow: hidden;
}

#image-section .texto{
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    gap: 20px;
    grid-template-columns: auto;
    justify-items: center;
}

#image-section h2{ 
    font-size: 2.5rem;
}

#image-section h3{
    font-size: 1.7rem;
}

#image-section p{
    font-size: 1.3rem;
}